<div class="main-content">
  <button type="button" class="btn btn-primary pull-right">
    <em class="fa fa-plus-circle fa-fw mr-sm"></em>Add Dashboard
  </button>
  <h3><%= @current_account.name -%>
    <br>
    <small>Welcome to your dashboard</small>
  </h3>
  <%= render :partial => 'dashboard/installation_instructions' -%>
</div>
