<div class="col-lg-4">
  <div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="1500" class="panel widget anim-running anim-done" style="">
    <div class="panel-body bg-<%= panel_color(service.current_event.status) %>">
      <div class="row row-table row-flush">
        <div class="col-xs-8">
          <p class="mb0">FILE</p>
          <h3 class="m0"><%= service.name -%></h3>
        </div>
        <div class="col-xs-4 text-center">
          <em class="fa fa-file-o fa-2x"></em>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <!-- Bar chart-->
      <div class="text-center">
        <div data-bar-color="<%= panel_color(service.current_event.status) %>" data-height="30" data-bar-width="6" data-bar-spacing="6" class="inlinesparkline inline"><%= service.events.order_by(:created_at.desc).limit(34).map{|e| e[:size].to_i unless e[:size].nil?}.compact.join(',') -%></div>
      </div>
    </div>
    <div class="panel-footer"><i class="fa fa-star-o add-favorite"></i><span class="pull-right">See more <i class="fa fa-chevron-down"></i></span></div>
  </div>
</div>
