<!-- START aside-->
<aside class="aside">
<!-- START Sidebar (left)-->
<nav class="sidebar">
<ul class="nav">
<!-- START Menu-->
<li class="nav-heading">Servers</li>
<li>
  <ul class="nav-labels">
    <li class="nav-heading">Group Label</li>
    <li class="nav-labels-item">
      <span class="point point-lg point-success point-outline"></span><a href="#">Label A</a>
    </li>
    <li class="nav-labels-item">
      <span class="point point-lg point-danger point-outline"></span><a href="#">Label B</a>
    </li>
    <li class="nav-labels-item">
      <span class="point point-lg point-info point-outline"></span><a href="#">Label C</a>
    </li>
    <li class="nav-labels-item">
      <span class="point point-lg point-warning point-outline"></span><a href="#">Label D</a>
    </li>
  </ul>
</li>
<!-- END Menu-->
</ul>
</nav>
<!-- END Sidebar (left)-->
</aside>
<!-- End aside-->
