<!-- START aside-->
<aside class="aside">
<!-- START Sidebar (left)-->
<nav class="sidebar">
<ul class="nav">
<!-- START Menu-->
<li class="nav-heading">Main</li>
<li>
  <a href="" title="Dashboard" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-dot-circle-o"></em>
    <div class="label label-primary pull-right">10</div>
    <span class="item-text">Dashboard</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse ">
    <li>
      <a href="dashboard.html" title="Default" data-toggle="" class="no-submenu">
        <span class="item-text">Default</span>
      </a>
    </li>
    <li>
      <a href="dashboard-profile.html" title="User Profile" data-toggle="" class="no-submenu">
        <span class="item-text">User Profile</span>
      </a>
    </li>
    <li>
      <a href="dashboard-sidebar2.html" title="Two Sidebar" data-toggle="" class="no-submenu">
        <span class="item-text">Two Sidebar</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<li>
  <a href="#" title="Elements" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-flask"></em>
    <span class="item-text">Elements</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse ">
    <li>
      <a href="panels.html" title="Panels" data-toggle="" class="no-submenu">
        <span class="item-text">Panels</span>
      </a>
    </li>
    <li>
      <a href="portlets.html" title="Portlets" data-toggle="" class="no-submenu">
        <span class="item-text">Portlets</span>
      </a>
    </li>
    <li>
      <a href="button.html" title="Buttons" data-toggle="" class="no-submenu">
        <span class="item-text">Buttons</span>
      </a>
    </li>
    <li>
      <a href="icons.html" title="Icons" data-toggle="" class="no-submenu">
        <div class="label label-primary pull-right">+400</div>
        <span class="item-text">Icons</span>
      </a>
    </li>
    <li>
      <a href="notifications.html" title="Notifications" data-toggle="" class="no-submenu">
        <span class="item-text">Notifications</span>
      </a>
    </li>
    <li>
      <a href="typo.html" title="Typography" data-toggle="" class="no-submenu">
        <span class="item-text">Typography</span>
      </a>
    </li>
    <li>
      <a href="grid.html" title="Grid" data-toggle="" class="no-submenu">
        <span class="item-text">Grid</span>
      </a>
    </li>
    <li>
      <a href="grid-masonry.html" title="Grid Masonry" data-toggle="" class="no-submenu">
        <span class="item-text">Grid Masonry</span>
      </a>
    </li>
    <li>
      <a href="animations.html" title="Animations" data-toggle="" class="no-submenu">
        <span class="item-text">Animations</span>
      </a>
    </li>
    <li>
      <a href="dropdown-animations.html" title="Dropdown" data-toggle="" class="no-submenu">
        <span class="item-text">Dropdown</span>
      </a>
    </li>
    <li>
      <a href="widgets.html" title="Widgets" data-toggle="" class="no-submenu">
        <span class="item-text">Widgets</span>
      </a>
    </li>
    <li>
      <a href="spinners.html" title="Spinners" data-toggle="" class="no-submenu">
        <span class="item-text">Spinners</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<li class="active">
  <a href="#" title="Pages" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-file-text-o"></em>
    <span class="item-text">Pages</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse in">
    <li>
      <a href="pages/landing.html" title="Landing" data-toggle="" class="no-submenu">
        <span class="item-text">Landing</span>
      </a>
    </li>
    <li>
      <a href="pages/login.html" title="Login" data-toggle="" class="no-submenu">
        <span class="item-text">Login</span>
      </a>
    </li>
    <li>
      <a href="pages/login-multi.html" title="Login Multi" data-toggle="" class="no-submenu">
        <span class="item-text">Login Multi</span>
      </a>
    </li>
    <li>
      <a href="pages/signup.html" title="Sign up" data-toggle="" class="no-submenu">
        <span class="item-text">Sign up</span>
      </a>
    </li>
    <li>
      <a href="pages/lock.html" title="Lock" data-toggle="" class="no-submenu">
        <span class="item-text">Lock</span>
      </a>
    </li>
    <li>
      <a href="pages/recover.html" title="Recover Password" data-toggle="" class="no-submenu">
        <span class="item-text">Recover Password</span>
      </a>
    </li>
    <li class="active">
      <a href="template.html" title="Empty Template" data-toggle="" class="no-submenu">
        <span class="item-text">Empty Template</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<li class="nav-heading">More</li>
<li>
  <a href="#" title="Maps" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-globe"></em>
    <div class="label label-primary pull-right">new</div>
    <span class="item-text">Maps</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse ">
    <li>
      <a href="maps-google.html" title="Google Maps" data-toggle="" class="no-submenu">
        <span class="item-text">Google Maps</span>
      </a>
    </li>
    <li>
      <a href="maps-vector.html" title="Vector Maps" data-toggle="" class="no-submenu">
        <div class="label label-primary pull-right">new</div>
        <span class="item-text">Vector Maps</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<li>
  <a href="#" title="Charts" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-area-chart"></em>
    <div class="label label-primary pull-right">new</div>
    <span class="item-text">Charts</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse ">
    <li>
      <a href="chart-flot.html" title="Flot" data-toggle="" class="no-submenu">
        <span class="item-text">Flot</span>
      </a>
    </li>
    <li>
      <a href="chart-radial.html" title="Radial" data-toggle="" class="no-submenu">
        <div class="label label-primary pull-right">new</div>
        <span class="item-text">Radial</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<li>
  <a href="#" title="Tables" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-table"></em>
    <span class="item-text">Tables</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse ">
    <li>
      <a href="table-datatable.html" title="Data Table" data-toggle="" class="no-submenu">
        <span class="item-text">Data Table</span>
      </a>
    </li>
    <li>
      <a href="table-standard.html" title="Standard" data-toggle="" class="no-submenu">
        <span class="item-text">Standard</span>
      </a>
    </li>
    <li>
      <a href="table-extended.html" title="Extended" data-toggle="" class="no-submenu">
        <span class="item-text">Extended</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<li>
  <a href="#" title="Forms" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-edit"></em>
    <span class="item-text">Forms</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse ">
    <li>
      <a href="form-standard.html" title="Standard" data-toggle="" class="no-submenu">
        <span class="item-text">Standard</span>
      </a>
    </li>
    <li>
      <a href="form-wizard.html" title="Wizard" data-toggle="" class="no-submenu">
        <span class="item-text">Wizard</span>
      </a>
    </li>
    <li>
      <a href="form-validation.html" title="Validation" data-toggle="" class="no-submenu">
        <span class="item-text">Validation</span>
      </a>
    </li>
    <li>
      <a href="form-extended.html" title="Extended" data-toggle="" class="no-submenu">
        <span class="item-text">Extended</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<li>
  <a href="#" title="Extras" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-plus"></em>
    <div class="label label-primary pull-right">new</div>
    <span class="item-text">Extras</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse ">
    <li>
      <a href="calendar.html" title="Calendar" data-toggle="" class="no-submenu">
        <span class="item-text">Calendar</span>
      </a>
    </li>
    <li>
      <a href="timeline.html" title="Timeline" data-toggle="" class="no-submenu">
        <span class="item-text">Timeline</span>
      </a>
    </li>
    <li>
      <a href="search.html" title="Search" data-toggle="" class="no-submenu">
        <span class="item-text">Search</span>
      </a>
    </li>
    <li>
      <a href="invoice.html" title="Invoice" data-toggle="" class="no-submenu">
        <span class="item-text">Invoice</span>
      </a>
    </li>
    <li>
      <a href="mailbox.html" title="Mailbox" data-toggle="" class="no-submenu">
        <span class="item-text">Mailbox</span>
      </a>
    </li>
    <li>
      <a href="filebox.html" title="Filebox" data-toggle="" class="no-submenu">
        <div class="label label-primary pull-right">new</div>
        <span class="item-text">Filebox</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<!-- START Theme color options-->
<li>
  <a href="#" title="Color options" data-toggle="collapse-next" class="has-submenu">
    <em class="fa fa-tint"></em>
    <span class="item-text">Themes</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse">
    <li>
      <a href="#" title="Option 1" data-toggle="load-css" data-uri="app/css/wintermin-theme-a.css" class="no-submenu">
        <span class="item-text">Color option 1</span>
      </a>
    </li>
    <li>
      <a href="#" title="Option 2" data-toggle="load-css" data-uri="app/css/wintermin-theme-b.css" class="no-submenu">
        <span class="item-text">Color option 2</span>
      </a>
    </li>
    <li>
      <a href="#" title="Option 3" data-toggle="load-css" data-uri="app/css/wintermin-theme-c.css" class="no-submenu">
        <span class="item-text">Color option 3</span>
      </a>
    </li>
    <li>
      <a href="#" title="Option 4" data-toggle="load-css" data-uri="app/css/wintermin-theme-d.css" class="no-submenu">
        <span class="item-text">Color option 4</span>
      </a>
    </li>
    <li>
      <a href="#" title="Default" data-toggle="load-css" data-uri="#" class="no-submenu">
        <span class="item-text">Default</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
<!-- END Theme color options-->
<li>
  <ul class="nav-labels">
    <li class="nav-heading">Labels</li>
    <li class="nav-labels-item">
      <span class="point point-lg point-success point-outline"></span><a href="#">Label A</a>
    </li>
    <li class="nav-labels-item">
      <span class="point point-lg point-danger point-outline"></span><a href="#">Label B</a>
    </li>
    <li class="nav-labels-item">
      <span class="point point-lg point-info point-outline"></span><a href="#">Label C</a>
    </li>
    <li class="nav-labels-item">
      <span class="point point-lg point-warning point-outline"></span><a href="#">Label D</a>
    </li>
  </ul>
</li>
<!-- END Menu-->
</ul>
</nav>
<!-- END Sidebar (left)-->
</aside>
<!-- End aside-->
