<html>
<head>
  <style type="text/css">
    body{
      background-color: #E6E6E6;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 10pt;
      padding-top: 50px;
      text-align: left;
    }
    a {
      color: #666;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .container {
      margin: auto;
      max-width: 540px;
      min-width: 200px;
    }
    .box hr {
      diplay: block;
      border: none;
      border-bottom: 1px dashed #ccc;
    }
    .box {
      background-color: #fbfbfb;
      border: 1px solid #AAA;
      border-bottom: 1px solid #888;
      border-radius: 3px;
      color: black;
      box-shadow: 0px 2px 2px #AAA;
      padding: 20px;
    }
    .box h1, .box h2 {
      display: block;
      text-align: center;
    }
    .box h1 {
      color: #666;
      font-weight: normal;
      font-size: 50px;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      line-height:50px
    }
    .box h2 {
      color: #666;
      font-weight: normal;
      font-size: 1.5em;
    }
    .box p {
      display: block;
      margin-bottom: 10px;
    }
    .box ul li {
      margin-bottom: 7px;
    }

    /**** Copyright Information ****/
    .copyright {
      display: block;
      text-align: center;
      color: #999;
      font-weight: normal;
      margin-top: 20px;
    }

    /* Alerts */
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      /* for demo only */
      margin: 8px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-family: inherit;
      font-weight: bold;
      color: inherit;
      text-rendering: optimizelegibility;
    }
    h4 {
      font-size: 14px;
    }
    h4, h5, h6 {
      line-height: 18px;
    }

    p {
      margin: 0 0 9px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      line-height: 18px;
    }

    .close {
      float: right;
      font-size: 20px;
      font-weight: bold;
      line-height: 18px;
      color: #000000;
      text-shadow: 0 1px 0 #ffffff;
      opacity: 0.2;
      filter: alpha(opacity=20);
    }
    .close:hover {
      color: #000000;
      text-decoration: none;
      opacity: 0.4;
      filter: alpha(opacity=40);
      cursor: pointer;
    }

    .alert {
      padding: 8px 35px 8px 14px;
      margin-bottom: 18px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      background-color: #fcf8e3;
      border: 1px solid #fbeed5;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #c09853;
    }
    .alert-heading {
      color: inherit;
    }
    .alert .close {
      position: relative;
      top: -2px;
      right: -21px;
      line-height: 18px;
    }
    .alert-success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
    }
    .alert-danger,
    .alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
    }
    .alert-info {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #3a87ad;
    }
    .alert-block {
      padding-top: 14px;
      padding-bottom: 14px;
    }
    .alert-block > p,
    .alert-block > ul {
      margin-bottom: 0;
    }
    .alert-block p + p {
      margin-top: 5px;
    }
  </style>
</head>
<body>

<!--<div class="alert alert-block">-->
  <!--<a class="close" data-dismiss="alert">×</a>-->
  <!--<h4 class="alert-heading">Warning!</h4>-->
  <!--Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.-->
<!--</div>-->

<!--<div class="alert alert-success">-->
  <!--<a class="close" data-dismiss="alert">×</a>-->
  <!--<strong>Well done!</strong> You successfully read this important alert message.-->
<!--</div>-->

<!--<div class="alert alert-error">-->
  <!--<a class="close" data-dismiss="alert">×</a>-->
  <!--<strong>Oh Snap!</strong> Change a few things up and try submitting again.-->
<!--</div>-->

<!--<div class="alert alert-info">-->
  <!--<a class="close" data-dismiss="alert">×</a>-->
  <!--<strong>Heads Up!</strong> This alert needs your attention, but it's not super important.-->
<!--</div>-->

<%= yield -%>
</body>
</html>
