<div class="container">
  <div class="box">
    <!--<h1>404</h1>-->
    <h2>Please Confirm Your Email</h2>
    <hr />
    <p><%= notice -%></p>
    <p>In a moment you should receive an email with a confirmation link</p>
    <p>Click that link to confirm your email.</p>
    <p>For the time being:</p>
    <ul>
      <li>Head back to <a href="/" title="Monit Now">the landing page</a></li>
      <li>Get started with our <a href="http://monitnow.uservoice.com/knowledgebase" target="Knowledge Base">Knowledge Base</a></li>
      <li>Close this page and wait for confirmation email</li>
    </ul>
  </div>
</div>

<!-- Le Copyright Info -->
<div class="copyright">
  &copy 2014 <a href="http://monitnow.com">Monit Now</a>. All Rights Reserved.
</div>
